:root {
    --verde-principal: #A0C878;
    --verde-secundario: #DDEB9D;
    --branco-texto: #FAF6E9;
    --branco-fundo: #FFFDF6;
    --branco-background: #F6F3EE;
    --marrom: #544541;
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-textos: 'Nunito Sans', sans-serif;
    --peso-textos: 500;
    --peso-titulo: 400
}

html,
body {
    height: 100%;
    margin: 0;
}

main {
    position: relative;
    /* Fundamental para o pseudo-elemento */
    margin-left: 11vw;
    height: 100%;
    z-index: 1;
    /* Garante que o conteúdo fique acima do fundo */
    padding-top: 2.7vh;
}
#main-menu h1, #main-menu h2{
    color: var(--branco-texto);
}

#main-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/interface/pizza-home.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
    /* Envia o fundo para trás do conteúdo */
}

main h1,
main h2 {
    text-align: center;
    color: var(--marrom);
    font-family: var(--fonte-titulo);
    font-weight: var(--peso-titulo);
}

main h1 {
    text-transform: uppercase;
    font-size: 5.8vw;
}

#main-menu h2 {
    font-size: 2.6vw;
    margin-top: -10px;
}

.menu-lateral {
    display: flex;
    width: 13.2vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--verde-principal);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu-lateral a {
    position: relative;
    display: inline-block;
    color: var(--branco-texto);
    text-decoration: none;
    font-family: var(--fonte-textos);
    text-transform: uppercase;
    font-weight: var(--peso-textos);
    font-size: 1.3vw;
    margin-top: 3.35vh;
    transition: transform 0.3s ease;
    background-color: transparent;
}

.menu-lateral a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--branco-texto);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.menu-lateral a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.menu-lateral a:active {
    color: var(--marrom);
}

.menu-lateral a:active::after {
    background-color: var(--marrom);
}

.logo {
    width: 9.5vw;
    height: 9.5vw;
    margin-top: 21px;
}

.menu-lateral p {
    text-align: center;
    color: var(--branco-texto);
    font-family: var(--fonte-titulo);
    font-weight: var(--peso-titulo);
    font-size: 2.4vw;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 5vh;
}

#login-menu {
    display: flex;
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    color: var(--branco-texto);
    font-size: 1.5vw;
    height: 6.7vh;
    width: 9.7vw;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--branco-texto);
    margin-top: 6.1vh;
    transition: all 0.3s ease;
}

#login-menu:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#login-menu:active {
    border: 2px solid var(--marrom);
    color: var(--marrom);
}

#pedidos {
    height: 3.2vw;
    width: 3.2vw;
    margin-top: 2.5vh;
}

#titulo-sobre {
    font-size: 5.5vw;
}

#main-sobre {
    background-color: var(--branco-background);
}

.textos-sobre {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;
}

.textos-sobre img {
    width: 23vw;
    height: 67vh;
    object-fit: cover;
    margin-top: 4.5vh;
    border-radius: 10px;
}

.paragrafos {
    text-align: justify;
    width: 26.5vw;
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    font-size: 1.2vw;
    color: black;
    margin-top: 3vh;
}

.paragrafos p strong {
    white-space: nowrap;
}

.textos-sobre p {
    margin-bottom: 12px;
}

.textos-sobre > div:first-child p{
    text-indent: 2.6vw;
    margin-bottom: 25px;
}

.textos-sobre > div:last-child p {
    position: relative; 
    text-indent: 2.3vw;
}

.textos-sobre > div:last-child p::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 1.25vw;
    height: 1.25vw;
    background-image: url("../img/interface/pata.png"); 
    background-size: contain;
    background-repeat: no-repeat;
}

.textos-sobre > div:last-child .paragrafos p:last-of-type {
    text-indent: 0;
}

.textos-sobre > div:last-child .paragrafos p:last-of-type::before {
    display: none;
}

.titulo-texto-sobre {
    font-size: 1.3vw;
    font-family: var(--fonte-textos);
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textos-sobre h2 {
    color: black;
    font-weight: bold;
    font-family: var(--fonte-textos);
    font-size: 1.7vw;
}