:root {
    --verde-principal: #A0C878;
    --verde-secundario: #DDEB9D;
    --branco-texto: #FAF6E9;
    --branco-fundo: #FFFDF6;
    --branco-background: #F6F3EE;
    --marrom: #544541;
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-textos: 'Nunito Sans', sans-serif;
    --peso-textos: 500;
    --peso-titulo: 400
}

html,
body {
    height: 100%;
    /* Garante que o body ocupe a tela toda */
    margin: 0;
}

main {
    position: relative;
    /* Fundamental para o pseudo-elemento */
    margin-left: 210px;
    height: 100%;
    z-index: 1;
    /* Garante que o conteúdo fique acima do fundo */
    padding-top: 30px;
}

#main-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/interface/pizza-home.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
    /* Envia o fundo para trás do conteúdo */
}

main h1,
main h2 {
    text-align: center;
    color: var(--branco-texto);
    font-family: var(--fonte-titulo);
    font-weight: var(--peso-titulo);
}

main h1 {
    text-transform: uppercase;
    font-size: 80px;
}

main h2 {
    font-size: 35px;
    margin-top: -10px;
}



.menu-lateral {
    display: flex;
    width: 210px;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--verde-principal);
    position: fixed;
    top: 0;
    left: 0;
}

.menu-lateral a {
    position: relative;
    display: inline-block;
    color: var(--branco-texto);
    text-decoration: none;
    font-family: var(--fonte-textos);
    text-transform: uppercase;
    font-weight: var(--peso-textos);
    font-size: 19px;
    margin-top: 45px;
    transition: transform 0.3s ease;
    background-color: transparent;
}

.menu-lateral a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--branco-texto);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.menu-lateral a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.menu-lateral a:active {
    color: var(--marrom);
}

.menu-lateral a:active::after {
    background-color: var(--marrom);
}

.logo {
    width: 135px;
    height: 135px;
    margin-top: 21px;
}

.menu-lateral p {
    text-align: center;
    color: var(--branco-texto);
    font-family: var(--fonte-titulo);
    font-weight: var(--peso-titulo);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 25px;
}

#login-menu {
    display: flex;
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    color: var(--branco-texto);
    font-size: 20px;
    height: 50px;
    width: 125px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--branco-texto);
    margin-top: 45px;
    transition: all 0.3s ease;
}

#login-menu:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#login-menu:active {
    border: 2px solid var(--marrom);
    color: var(--marrom);
}

#pedidos {
    height: 65px;
    width: 65px;
    margin-top: 65px;
}

#titulo-sobre {
    color: var(--marrom);
}

#main-sobre {
    background-color: var(--branco-background);
}

.textos-sobre {
    display: flex;
    gap: 45px;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;
}

.textos-sobre img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    margin-top: 50px;
}

.paragrafos {
    text-align: justify;
    width: 455px;
    max-height: 640px;
    min-height: 620px;
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    font-size: 21px;
    color: black;
    margin-top: 30px;
}

.paragrafos p strong {
    white-space: nowrap;
}

.textos-sobre p {
    margin-bottom: 12px;
}

.textos-sobre > div:first-child p{
    text-indent: 50px;
    margin-bottom: 25px;
}

.textos-sobre > div:last-child p {
    position: relative; 
    text-indent: 45px;
}

.textos-sobre > div:last-child p::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 24px;
    height: 24px;
    background-image: url("../img/interface/pata.png"); 
    background-size: contain;
    background-repeat: no-repeat;
}

.titulo-texto-sobre {
    font-size: 21px;
    font-family: var(--fonte-textos);
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textos-sobre h2 {
    margin-top: -80px;
    color: black;
    font-weight: bold;
    font-family: var(--fonte-textos);
    font-size: 25px;
}