@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
    --verde-principal: #A0C878;
    --verde-secundario: #DDEB9D;
    --branco-texto: #FAF6E9;
    --branco-fundo: #FFFDF6;
    --branco-background: #F6F3EE;
    --branco-borda : #f0e4d4;
    --marrom: #544541;
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-textos: 'Nunito Sans', sans-serif;
    --peso-textos: 500;
    --peso-titulo: 400
}

html,
body {
    height: 100%;
    margin: 0;
}

main {
    position: relative;
    margin-left: 13.2vw;
    min-height: 100vh;
    z-index: 1;
    padding-top: 2.7vh;
    background-color: var(--branco-background);
}
#main-menu h1, #main-menu h2{
    color: var(--branco-texto);
}

#main-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/interface/pizza-home.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}

main h1,
main h2 {
    text-align: center;
    color: var(--marrom);
    font-family: var(--fonte-titulo);
    font-weight: var(--peso-titulo);
}

main h1 {
    text-transform: uppercase;
    font-size: clamp(36px, 5.8vw, 96px);
}

#main-menu h2 {
    font-size: clamp(18px, 2.6vw, 48px);
    margin-top: -10px;
}

/* menu lateral */

.menu-lateral {
    display: flex;
    width: 13.2vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--verde-principal);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu-lateral a {
    position: relative;
    display: inline-block;
    color: var(--branco-texto);
    text-decoration: none;
    font-family: var(--fonte-textos);
    text-transform: uppercase;
    font-weight: var(--peso-textos);
    font-size: clamp(14px, 1.3vw, 28px);
    margin-top: 3.35vh;
    transition: transform 0.3s ease;
    background-color: transparent;
}

.menu-lateral a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--branco-texto);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.menu-lateral a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.menu-lateral a:active {
    color: var(--marrom);
}

.menu-lateral a:active::after {
    background-color: var(--marrom);
}

.menu-lateral p {
    text-align: center;
    color: var(--branco-texto);
    font-family: var(--fonte-titulo);
    font-weight: var(--peso-titulo);
    font-size: clamp(18px, 2.4vw, 44px);
    line-height: 4.5vh;
    text-transform: uppercase;
    margin-bottom: 4vh;
}

.rodape-menu {
    margin-top: auto;
    margin-bottom: 4vh;
}

.login-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-textos);
  font-weight: bold;
  color: var(--branco-texto);               
  font-size: clamp(16px, 1.5vw, 32px);
  height: 6.7vh;
  width: 9.7vw;
  text-transform: uppercase;
  border: 3px solid var(--branco-texto);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.login-menu:hover {
  cursor: pointer;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  background-color: var(--branco-texto);   
  color: var(--verde-principal);                     
  border-color: var(--branco-texto);
}

.login-menu:active {
  color: var(--marrom);
}


.logado {
  font-size: clamp(16px, 1.1vw, 32px);
  font-family: var(--fonte-textos);
  min-width: 11vw;
  max-width: 11vw;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  line-height: 1.1;
}

#botao-carrinho {
    height: 7.7vw;
    width: 7.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1vh;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#botao-carrinho img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

#botao-carrinho:hover {
    transform: scale(1.2);
}

.logo {
    width: 9.5vw;
    height: 9.5vw;
    margin-top: 21px;
}

/* logout */

@keyframes slideInLogout {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutLogout {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

.logout {
    display: none;
    position: fixed;
    bottom: 110px;
    height: 6.7vh;
    z-index: 5;
    width: 13.2vw;
    left: 0;
    justify-content: center;
    align-items: center;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.logout button {
  font-family: var(--fonte-textos);
  font-weight: bold;
  font-size: 1.5vw;
  background-color: var(--branco-background);
  width: 11vw;
  height: 100%;
  border: 3px solid var(--marrom);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--marrom);
  text-transform: uppercase;
  transition: 
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.logout button:hover {
  cursor: pointer;
  background-color: var(--marrom);
  color: var(--branco-texto);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.logout button:active {
  transform: scale(0.98);
  background-color: #6a5c55;
}


/* carrinho */

.carrinho {
    z-index: 4;
    position: relative;
    color: black;
    position: fixed;
    right: -5px;
    padding-right: 5px;
    bottom: 0;
    height: 100vh;
    width: 32vw;
    background-color: var(--branco-fundo);
    border: 4px solid var(--branco-borda);
    border-radius: 50px 0 0 50px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: none;
    overflow-y: hidden; 
}

.carrinho.ativo {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
    display: flex;
}

.carrinho-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 96%;
}

.carrinho-conteudo h3 {
    font-family: var(--fonte-titulo);
    font-weight: bold;
    font-size: 8.7vh;
    color: var(--marrom);
    margin-top: 2.8vh;
}

.carrinho-itens {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.1vw;
    padding-top: 4vh;
    gap: 2vh;
    overflow-y: auto;
}

.carrinho-itens::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.carrinho-itens:hover {
    overflow-x: auto;
    scrollbar-width: thin; /* Firefox */
}
.carrinho-itens:hover::-webkit-scrollbar {
    display: block;
    height: 8px; /* altura da barra de rolagem */
    background: #ccc;
}

.vazio {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-textos);
    font-weight: var(--peso-titulo);
    font-size: 50px;
    width: 95%;
    height: 100%;
    margin-top: 24vh;    
}

.produto {
    display: flex;
    flex-direction: row;
    width: 29vw;
    align-items: center;
    background-color: #f8f4e7;
    height: 12.5vh;
    min-height: 12.5vh;
    max-height: 12.5vh;
    padding-left: 0.6vw;
    border-radius: 27px;
    border: 2px solid var(--branco-borda);
}

.produto-img {
    object-fit: cover;
    width: 10.5vh;
    height: 10.5vh;
    border-radius: 23px;
    margin-right: 1.1vw;
}

.produto p {
    font-family: var(--fonte-textos);
    font-weight: bold;
    color: var(--marrom);
    font-size: 2.1vh;
}

.produto p:nth-of-type(1) {
    min-width: 8vw;
    max-width: 8vw;
}

.produto p:nth-of-type(2) {
    margin-left: 0.6vw;
}

.produto p:nth-of-type(3) {
    margin-left: auto;
    margin-right: 0.6vw;
}

.lixeira {
    margin-right: 0.6vw;
}

.lixeira svg {
    width: 3.7vh;
    height: 3.7vh;
    transition: 0.2s;
}

.lixeira:hover svg {
    color: #A53F2B;
    cursor: pointer;
}

.carrinho-rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding-bottom: 3.1vh;
    padding-top: 2.5vh;
}

.texto-rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 5.5vh;
}

.texto-rodape p {
    font-family: var(--fonte-textos);
    font-weight: bold;
    font-size: 2.1vh;  
    margin-left: 1.6vw;  
    text-transform: uppercase;
    color: var(--marrom);
}

.botao-pedir {
    background-color: var(--verde-principal);
    border-radius: 20px;
    width: 19.5vw;
    height: 7.5vh;
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    text-transform: uppercase;
    color: var(--branco-texto);
    font-size: 200%;
    margin-left: auto;
}

.botao-pedir:hover {
    cursor: pointer;
    border: 2px solid var(--marrom);
}

.botao-pedir:active {
    background-color: #80B155;
}



/* sobre-nos */

#titulo-sobre {
    font-size: clamp(30px, 5.5vw, 92px);
}

.textos-sobre {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;
}

.textos-sobre img {
    width: 23vw;
    height: 67vh;
    object-fit: cover;
    margin-top: 4.5vh;
    border-radius: 10px;
}

.paragrafos {
    text-align: justify;
    width: 26.5vw;
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    font-size: clamp(14px, 1.2vw, 24px);
    color: black;
    margin-top: 3vh;
}

.paragrafos p strong {
    white-space: nowrap;
}

.textos-sobre p {
    margin-bottom: 12px;
}

.textos-sobre > div:first-child p{
    text-indent: 2.6vw;
    margin-bottom: 25px;
}

.textos-sobre > div:last-child p {
    position: relative; 
    text-indent: 2.3vw;
}

.textos-sobre > div:last-child p::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 1.25vw;
    height: 1.25vw;
    background-image: url("../img/interface/pata.png"); 
    background-size: contain;
    background-repeat: no-repeat;
}

.textos-sobre > div:last-child .paragrafos p:last-of-type {
    text-indent: 0;
}

.textos-sobre > div:last-child .paragrafos p:last-of-type::before {
    display: none;
}

.titulo-texto-sobre {
    font-size: clamp(16px, 1.3vw, 26px);
    font-family: var(--fonte-textos);
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 3.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textos-sobre h2 {
    color: black;
    font-weight: bold;
    font-family: var(--fonte-textos);
    font-size: clamp(20px, 1.7vw, 34px);
}

/* cardapio */

.itens h2 {
    font-family: var(--fonte-titulo);
    font-weight: bold;
    font-size: 5.3vh;
    margin: 4.1vh;
    margin-top: 7.1vh;
}

.itens {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2vw;
}

.grupo-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* centraliza mesmo com poucos itens */
    gap: 5.2vh 3.2vw;
    padding: 2.2vh 0;
}
.cardapio-item {
    flex: 0 0 24.8vw; /* tamanho fixo para os itens */
    height: 14.6vh;
    display: flex;
    flex-direction: row;
    background-color: var(--branco-fundo);
    border-radius: 27px;
    align-items: center;
    padding: 2vh 0.5vw;
    overflow: hidden;
    border: 2px solid var(--branco-borda);
    transition: transform 0.3s ease;
}

.cardapio-item:hover {
    transform: scale(1.05);
}

.item-info {
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    margin-left: 1.1vw;
    display: flex;
    flex-direction: column;
    gap: 1.6vh;
    font-size: 2vh;
    color: var(--marrom);
    max-width: 230px;
}

.item-img {
    width: 12vh;
    height: 12vh;
    object-fit: cover;
    border-radius: 27px;
}

.item-add {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    background-color: var(--verde-principal);
    min-width: 6.1vh;
    height: 6.1vh;
    color: var(--branco-texto);
    font-weight: 400;
    font-size: 7.2vh;
    font-family: "Quicksand", sans-serif;
    border-radius: 100%;
    padding-bottom: 5px;
    cursor: pointer; 
    transition: background-color 0.2s ease;
}

.item-add:hover {
    background-color: #80B155;
}

.item-add:active {
    background-color: var(--marrom);
}

/* gerenciamento */

.gerenciamento {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4.8vw;
    padding-top: 4.2vh;
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    color: var(--marrom);
}

.gerenciamento h2 {
    font-family: var(--fonte-textos);
    font-weight: bold;
    font-size: 3.6vh;
    display: flex;
    justify-content: flex-start;
}

.coluna, .saldo, .lucro, .melhores-pratos {
    width: 37.3vw;
}

.saldo, .lucro, .melhores-pratos {
    border-radius: 27px;
    border: 3px solid var(--branco-borda);
}

.saldo, .lucro {
    padding: 1.5vh 1.3vw 0;
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72vh;
    gap: 6vh;
}

.saldo h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.1vh;
    font-size: 3.1vh;
    font-weight: bold;
}

.saldo-info > div:nth-child(2) .coluna-img {
    background-color: var(--marrom);
}

.saldo {
    background-color: var(--branco-fundo);
    height: 33vh;
    font-weight: bold;
}

.saldo-info {
    display: flex;
    flex-direction: column;
    gap: 2.1vh;
    margin-top: 1vh;
}

.lucrosT, .despesas {
    display: flex;
    flex-direction: row;
}

.lucro-img, .despesas-img {
    width: 4.3vh;
    height: 4.3vh;
    margin-bottom: 3px;
}

.coluna-img {
    width: 7.3vh;
    height: 7.3vh;
    background-color: var(--verde-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    object-fit: fill;
}

.saldo-texto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    gap: 1vh;
    padding-left: 10px;
    font-size: 2vh;
}

.lucro {
    background-color: var(--branco-fundo);
    height: 33vh;
}

.lucro-info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 0 1vh;
    justify-content: center;
    gap: 14.6vh;
    
}

#graficoRosca {
    width: 22.5vh !important;
    height: 22.5vh !important;
}

.lucro-texto p:first-of-type {
    text-align: center;
    margin-bottom: 2.5vh;
    margin-right: 1.2vw;
    font-weight: bold;
    font-size: 3.1vh;
}

.legenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.35vh;
}

.legenda li {
    display: flex;
    align-items: center;
}

.cor-entrada, .cor-prato, .cor-sobremesa, .cor-bebida {
    display: inline-block;
    width: 2.2vw;
    height: 2.1vh;
    border-radius: 10px;
    margin-right: 0.8vw;
}

.cor-entrada {
    background-color: #92E27A;
}

.cor-prato {
    background-color: #80B155;
}

.cor-sobremesa {
    background-color: #97BF00;
}

.cor-bebida {
    background-color: #428F60;
}

.melhores-pratos {
    height: 72vh;
    background-color: var(--branco-fundo);
    text-align: start;
    position: relative;
    overflow-x: hidden;
    scrollbar-width: none;
}

.melhores-pratos::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.melhores-pratos:hover {
    overflow-x: auto;
    scrollbar-width: thin; /* Firefox */
}
.melhores-pratos:hover::-webkit-scrollbar {
    display: block;
    height: 8px; /* altura da barra de rolagem */
    background: #ccc;
}

.titulo-melhores {
    padding: 0 1.35vw;
}

.melhores-info {
    padding-bottom: 1.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-melhores {
    background-color: var(--branco-fundo);
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    padding-top: 1.6vh;
    padding-bottom: 5px;
    border-radius: 27px;
}


.subtitulo-melhores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.6vh 2.65vw 0;
    font-weight: bold;
    font-size: 24px;
}

.pratos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 100%;
    margin-top: 1.8vh;
    background-color: #F8F4E7;
    border-radius: 27px;    
    width: 31.2vw;
    justify-content: center;
    align-items: center;
    min-height: 12vh;
    max-height: 12vh;
    padding: 0 1.2vw 0 0.25vw;
    border: 2px solid var(--branco-borda);
}

.img-melhores {
    width: 10.8vh;
    height: 10.8vh;
    object-fit: cover;
    border-radius: 27px;
}

.texto-prato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vh;
    font-size: 2.2vh;
    padding-left: 0.6vw;
    font-weight: bold;
}

.pratos h4 {
    max-width: 15.6vw;
}

.contador {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: auto;
    font-size: 2.3vh;
    width: 5vw;
}

/* pedidos-adm */

.andamento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 76.5vw;
    height: 75.5vh;
    background-color: var(--branco-fundo);
    border-radius: 27px;
    border: 2px solid #f0e4d4;
    margin: 2vh auto 0;
    padding-left: 2.65vw;
}


.andamento h2 {
    display: flex;
    justify-content: flex-start;
    margin: 1.1vh auto 0 -2.1vh;
    font-family: var(--fonte-textos);
    font-weight: bold;
    font-size: 3.2vh;
}

.andamento-conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3.1vh;
    margin-top: 2.1vh;
    overflow-y: auto;
    padding-bottom: 1.6vh;
}

.andamento-conteudo {
    overflow-y: auto;
    overflow-x: hidden; /* evita rolagem horizontal */
    scrollbar-width: none; /* Firefox */
}

.andamento-conteudo:hover {
    scrollbar-width: thin; /* Firefox */
}

.andamento-conteudo::-webkit-scrollbar {
    display: none;
}

.andamento-conteudo:hover::-webkit-scrollbar {
    display: block;
    width: 8px; /* para rolagem vertical */
    background: #ccc;
}

.andamento-itens {
    display: flex;
    align-items: center;
    width: 71vw;
    background-color: #F8F4E7;
    height: 120px;
    min-height: 12.5vh;
    padding: 0 1.2vw;
    border-radius: 27px;
    border: 2px solid #f0e4d4;
}

.andamento-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--fonte-textos);
    gap: 2.6vh;
    font-weight: bold;
    font-size: 2.7vh;
    color: var(--marrom);
}

.andamento-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-principal);
    margin-left: auto;
    margin-right: 0.6vw;
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    font-size: 2.2vh;
    color: var(--branco-texto);
    text-transform: uppercase;
    border-radius: 10px;
    width: 11.7vw;
    height: 6.7vh;
}

.andamento-botao:hover {
    border: 2px solid var(--marrom);
}

.andamento-botao:active {
    background-color: #80B155;
}

/* pedidos-user */

.pedidos-user {
    width: 79.8vw;
    height: 76vh;
    margin: 2.1vh auto 0;
    display: flex;
    flex-direction: row;
    gap: 4.3vw;
}


.historico, .pedido-atual {
    height: 100%;
    background-color: var(--branco-fundo);
    width: 37.75vw;
    display: flex;
    border-radius: 27px;
    border: 2px solid #f0e4d4;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.historico h2, .pedido-atual h2 {
    font-family: var(--fonte-textos);
    font-weight: bold;
    margin: 1.1vh auto 0 1vw;
}

.pedido-atual {
    display: none;
}

.historico-conteudo {
    display: flex;
    flex-direction: column;
    margin-top: 2.1vh;
    gap: 1.6vh;
    overflow-y: auto;
    padding-bottom: 2.1vh;
    width: 100%;
    padding-left: 1vw;
}

.historico-conteudo::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.historico-conteudo:hover {
    overflow-x: auto;
    scrollbar-width: thin; /* Firefox */
}
.historico-conteudo:hover::-webkit-scrollbar {
    display: block;
    height: 8px; /* altura da barra de rolagem */
    background: #ccc;
}

.nenhum-pedido {
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    font-size: 1.6vh;
}

.adm {
    font-size: 2.5vh;
    margin-top: 2.2vh;
}

.historico-pedidos {
    display: flex;
    flex-direction: column;
    width: 35.5vw;
    height: 12.1vh;
    background-color: var(--branco-texto);
    border: 2px solid #f0e4d4;
    border-radius: 27px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1vw;
    font-family: var(--fonte-textos);
    font-weight: bold;
    font-size: 1.9vh;
    color: var(--marrom);
    gap: 8px;
}

.historico-pedidos:focus {
    background-color: #DDEB9E;
    border: 2px solid var(--verde-principal);
}

.historico-conteudo p:first-child {
    font-size: 23px;
}

.pedido-conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1vw;
    margin-top: 2.1vh;
    flex-grow: 1;
    gap: 1.6vh;
    overflow-y: auto;
    position: relative;
}

.pedido-conteudo::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.pedido-conteudo:hover {
    overflow-x: auto;
    scrollbar-width: thin; /* Firefox */
}
.pedido-conteudo:hover::-webkit-scrollbar {
    display: block;
    height: 8px; /* altura da barra de rolagem */
    background: #ccc;
}

.pedido-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--branco-texto);
    border-radius: 27px;
    width: 35.5vw;
    min-height: 12.1vh;
    height: 12.1vh;
    padding-left: 0.5svw;
    border: 2px solid #f0e4d4;
}

.pedido-itens img {
    width: 10.2vh;
    height: 10.2vh;
    object-fit: cover;
    border-radius: 23px;
    margin-right: 1vw;
}

.pedido-texto {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--fonte-textos);
    font-weight: bold;
    color: var(--marrom);
    font-size: 20px;
    width: 100%;
    gap: 1.1vw;
}

.pedido-texto p:first-child {
    min-width: 12vw;
    max-width: 12vw;
}

.pedido-texto p:last-of-type{
    margin-left: auto;
    margin-right: 30px;
}

.pedido-rodape {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1.6vh 0 1.6vh 1.8vw;
}

.texto-rodape-pedidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fonte-textos);
    font-weight: bold;
    font-size: 2.6vh;
    text-transform: uppercase;
    color: var(--marrom);
}

.botao-pedido {
    background-color: var(--verde-principal);
    margin-left: auto;
    margin-right: 1.9vw;
    font-family: var(--fonte-textos);
    font-weight: var(--peso-textos);
    color: var(--branco-texto);
    font-size: 3.2vh;
    text-transform: uppercase;
    text-align: center;
    width: 21.2vw;
    height: 7.3vh;
    border-radius: 20px;
}

.botao-pedido:hover {
    border: 2px solid var(--marrom);
}

.botao-pedido:active {
    background-color: #80B155;
}