<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamma Miau</title>
    <link rel="icon" type="img/png" href="../static/img/interface/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="caixa" id="caixa-cadastro">
        <div class="circulo" id="circulo-cadastro-confirm">
            <img src="../static/img/interface/logo.png" alt="Mamma Miau" class="logo">
        </div>
        <h1 class="texto-cadastro">cadastro<br>realizado</h1>
        <form>
            <button type="button" class="enviar" id="botao-confirm"
                onclick="window.location.href='../menu/login.html'">Login</button>
        </form>
    </div>
    <script src="../static/js/script.js"></script>
</body>

</html>