<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamma Miau - Cardápio</title>

    <link rel="icon" type="img/png" href="../../static/img/interface/logo.png">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="menu-lateral">
        <img src="../../static/img/interface/logo.png" alt="Mamma Miau Logo" class="logo">
        <a href="../menu/index.html">Home</a>
        <a href="../menu/sobre_nos.html">sobre nós</a>
        <a href="../menu/cardapio.html">cardápio</a>
        <a href="" id="pedidos-menu">pedidos</a>
        <a href="../menu/gerenciamento.html">gerenciamento</a>
        <div class="rodape-menu">
            <button id="botao-carrinho">
                <img src="../../static/img/interface/cloche-padrao.png" alt="pedidos">
            </button>
            <p>Mamma<br>Miau</p>
            <button class="login-menu">Login</button>
        </div>
    </nav>

    <main>
        <h1>cardápio</h1>
        <div class="itens">
            <section class="entrada">
                <h2>Entradas</h2>
                <div class="grupo-itens" id="Entrada">
                </div>
            </section>
            <section class="massa">
                <h2>Massas</h2>
                <div class="grupo-itens" id="Massa"></div>
            </section>
            <section class="risoto">
                <h2>Risotos</h2>
                <div class="grupo-itens" id="Risoto"></div>
            </section>
            <section class="pizza">
                <h2>Pizzas</h2>
                <div class="grupo-itens" id="Pizza"></div>
            </section>
            <section class="sobremesa">
                <h2>Sobremesas</h2>
                <div class="grupo-itens" id="Sobremesa"></div>
            </section>
            <section class="bebida">
                <h2>Bebidas</h2>
                <div class="grupo-itens" id="Bebida"></div>
            </section>
        </div>
    </main>

    <div class="logout">
        <button>Logout</button>
    </div>

    <div class="carrinho">
        <div class="carrinho-conteudo">
            <h3>Carrinho</h3>
            <div class="carrinho-itens">
                <p class="vazio">Carrinho vazio</p>
            </div>
            <div class="carrinho-rodape">
                <div class="texto-rodape">
                    <p>TOTAL:</p>
                    <p>R$ 00,00</p>
                </div>
                <button id="cart-button" type="button" class="botao-pedir">Pedir</button>
            </div>
        </div>
    </div>

    <script type="module" src="../../static/js/const.js"></script>
    <script type="module" src="../../static/js/carrinho.js"></script>
    <script type="module" src="../../static/js/script.js"></script>
    <script type="module" src="../../static/js/cardapio.js"></script>
</body>

</html>