<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamma Miau</title>

    <link rel="icon" type="img/png" href="../../static/img/interface/logo.png">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="menu-lateral">
        <img src="../../static/img/interface/logo.png" alt="Mamma Miau Logo" class="logo">
        <a href="../menu/index.html">Home</a>
        <a href="../menu/sobre_nos.html">sobre nós</a>
        <a href="../menu/cardapio.html">cardápio</a>
        <a href="">pedidos</a>
        <a href="../menu/gerenciamento.html">gerenciamento</a>
        <div class="rodape-menu">
            <button id="pedidos">
                <img src="../../static/img/interface/cloche-padrao.png" alt="pedidos">
            </button>
            <p>Mamma<br>Miau</p>
            <button id="login-menu" onclick="window.location.href='../login/login.html'">Login</button>
        </div>
    </nav>
    
    <main id="main-menu">
        <h1>Mamma Miau</h1>
        <h2>Sabor que ronrona</h2>
    </main>
    
    <div class="carrinho">
        <div class="carrinho-conteudo">
            <h3>Carrinho</h3>
            <div class="carrinho-itens">
                <div class="produto">
                    <img class="produto-img" src="../../static/img/foods/prato-lasanha.jpg" alt="">
                    <p>Lasanha a bolonhesa</p>
                    <p>x2</p>
                    <p>R$ 50,00</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../../static/js/script.js"></script>
</body>

</html>